<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				<i class="fa-solid fa-bars"></i>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button onclick="location.href='/home'" ngbDropdownItem>Home</button>
				<button ngbDropdownItem>Configurações</button>
				<button onclick="location.href='/'" ngbDropdownItem>Página Principal</button>
			</div>
		</div>
	</div>


	