<div class="container">
    <div class="dropdown">
        <dropdown-basic></dropdown-basic>
    </div>
    <div class="payment-title">
        <p>NOVO PAGAMENTO</p>
    </div>
    <div class="divisor">
        <hr/>
    </div>
    <div class="data-input">
        <label class="label">Número da sala</label>
        <div class="form">
            <div class="row">
                <div class="col">
                        <select formControlName="roomNumber" class="items"> 
                            <option>Escolha uma sala</option>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                        </select>
                </div>
            </div>
        </div>
        <div class="inputs">
            <label class="label">Data do Pagamento</label>
            <input formControlName="diaPagamento" type="date" name="diaPagamento">
        </div>
        <div class="inputs">
            <label class="label">Valor(R$)</label>
            <input formControlName="valor" type="number" class="valor" placeholder="Valor do Pago">
        </div>
        <div class="inputs">
            <label class="label">Observação</label>
            <input formControlName="observacao" type="text" class="observacao">
        </div>
        <div class="inputs">
            <label class="label">Forma de pagamento</label>
        <div class="form">
            <div class="row">
                <div class="col">
                        <select formControlName="pay-way" class="items"> 
                            <option>Escolha uma forma</option>
                            <option>Em espécie</option>
                            <option>Pix</option>
                            <option>Transferência bancária</option>
                            <option>Boleto</option>
                            <option>Cheque</option>
                            <option>Outros</option>
                        </select>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="buttons">
        <button class="left">Salvar pagamento</button>
        <button class="right">Cancelar</button>
    </div>
</div>
