<div class="container" [formGroup]="form">
    <div class="title">
        <h2>Faça seu login</h2>
    </div>
    <div class="inputs">
        <label class="label">E-mail</label>
        <input formControlName="email" type="text" class="name" placeholder="E-mail">
        <label class="label">Senha</label>
        <input formControlName="senha" type="password" class="senha" placeholder="Senha">
    </div>
    <div class="buttons">
        <div class="adicionar">
            <a onclick="submit()">Confirmar</a>
        </div>
        <div class="cancelar">
            <a class="cancelar" href="/home">Cancelar</a>
        </div>
    </div>
    <div class="link">
        <a (click)="alert()" href="#">Esqueceu a senha?</a>
    </div>
</div>