<div class="container">
    <div class="title">
        <h2>Faça seu login</h2>
    </div>
    <div class="inputs">
        <label class="label">E-mail</label>
        <input formControlName="email" type="text" class="name" placeholder="E-mail">
        <label class="label">Senha</label>
        <input formControlName="senha" type="text" class="senha" placeholder="Senha">
    </div>
    <div class="buttons">
        <button onclick="login()" class="left">Confirmar</button>
        <button onclick="location.href='/'" class="right">Cancelar</button>
    </div>
    <div class="link">
        <a (click)="alert()" href="#">Esqueceu a senha?</a>
    </div>
</div>