<div [formGroup]="form" class="container">
    <div class="dropdown">
        <dropdown-basic></dropdown-basic>
    </div>
    <div class="new-room-title">
        <p>{{title}}</p>
    </div>
    <div class="divisor">
        <hr/>
    </div>
    <div class="data-input">
        <div class="box1">
            <label class="label">Número da sala</label>
            <div class="form">
                <div class="row">
                    <div class="col">
                            <select formControlName="numeroSala" class="items"> 
                                <option>Escolha uma sala</option>
                                <option>00</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="inputs">
                <label class="label">Nome do locatário</label>
                <input formControlName="nome" type="text" class="name" placeholder="Nome Locatário">
            </div>
            <div class="inputs">
                <label class="label">CPF ou CNPJ do locatário</label>
                <input formControlName="cpfCnpj" type="text" class="cpfCnpj" placeholder="CPF ou CNPJ">
            </div>
            <div class="inputs">
                <label class="label">Número do Contrato</label>
                <input formControlName="numeroContrato" type="text" name="numeroContrato" placeholder="000/00">
            </div>
            <div class="inputs">
                <label class="label">Início do Contrato</label>
                <input formControlName="inicioContrato" type="date" name="inicioContrato">
            </div>
            <div class="inputs">
                <label class="label">Fim do Contrato</label>
                <input formControlName="fimContrato" type="date" name="fimContrato">
            </div>
            <div class="inputs">
                <label class="label">Valor do Contrato</label>
                <input formControlName="valorContrato" type="number" name="valorContrato" placeholder="R$"  min="0.00" max="100000.00" step="0.01">
            </div>
        </div>
        <div class="box2">
            <div class="inputs">
                <label class="label">Atividade</label>
                <input formControlName="atividade" type="text" class="atividade" placeholder="Atividade fim da empresa">
            </div>
            <div class="inputs">
                <label class="label">Dia do vencimento</label>
                <div class="form">
                    <div class="row">
                        <div class="col">
                                <select formControlName="diaVencimento" class="items"> 
                                    <option>Escolha um dia</option>
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                    <option>27</option>
                                    <option>28</option>
                                    <option>29</option>
                                    <option>30</option>
                                    <option>31</option>
                                </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inputs">
                <label class="label">Email</label>
                <input formControlName="email" type="text" class="email" placeholder="email@email.com">
            </div>
            <div class="inputs">
                <label class="label">Telefone</label>
                <input formControlName="telefone" type="number" class="telefone" placeholder="(XX) XXXXX-XXXX">
            </div>
            <div class="inputs">
                <label class="label">Whatsapp</label>
                <input formControlName="whatsapp" type="number" class="whatsapp" placeholder="(XX) XXXXX-XXXX">
            </div>
            <div class="checkbox">
                <label class="label">Contrato ativo?</label>
                <input formControlName="active" type="checkbox" class="active" value="true" name="active" id="active">
                <input type="hidden" name="active" formControlName="active" value="false" class="active" id="active">
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="adicionar">
            <a onclick="submit()">Adicionar</a>
        </div>
        <div class="cancelar">
            <a class="cancelar" onclick="location.href='/empresarial53'">Cancelar</a>
        </div>
    </div>
</div>
