<div class="container">

    <div class="dropdown">
        <dropdown-basic></dropdown-basic>
    </div>

    <div class="building">
        <button onclick="location.href='/empresarial53'">
            EMPRESARIAL 53
        </button>
    </div>

    <div class="rooms">

        <button onclick="location.href='/sala01'" class="left-button">
            SALA 01
        </button>
        <button onclick="location.href='/sala02'" class="rigth-button">
            SALA 02
        </button>
        <button onclick="location.href='/sala03'" class="left-button">
            SALA 03
        </button>
        <button onclick="location.href='/sala04'" class="rigth-button">
            SALA 04
        </button>
        <button onclick="location.href='/sala05'" class="left-button">
            SALA 05
        </button>
        <button onclick="location.href='/sala06'" class="rigth-button">
            SALA 06
        </button>
        <button onclick="location.href='/sala07'" class="left-button">
            SALA 07
        </button>
        <button onclick="location.href='/sala08'" class="rigth-button">
            SALA 08
        </button>
        <button onclick="location.href='/sala09'" class="left-button">
            SALA 09
        </button>
        <button onclick="location.href='/sala10'" class="rigth-button">
            SALA 10
        </button>
        <button onclick="location.href='/sala11'" class="left-button">
            SALA 11
        </button>
        <button onclick="location.href='/sala12'" class="rigth-button">
            SALA 12
        </button>
        <button onclick="location.href='/sala13'" class="left-button">
            SALA 13
        </button>
        <button onclick="location.href='/sala14'" class="rigth-button">
            SALA 14
        </button>
        <button onclick="location.href='/sala15'" class="left-button">
            SALA 15
        </button>
        <button onclick="location.href='/sala16'" class="rigth-button">
            SALA 16
        </button>
        <button onclick="location.href='/sala17'" class="left-button">
            SALA 17
        </button>

    </div>


</div>