<div class="container">

    <div class="dropdown">
        <dropdown-basic></dropdown-basic>
    </div>

    <div class="building">
        <button onclick="location.href='/empresarial53'">
            EMPRESARIAL 53
        </button>
    </div>

    <div class="rooms">

        <button onclick="location.href='/sala/1'" class="left-button">
            SALA 01
        </button>
        <button onclick="location.href='/sala/2'" class="rigth-button">
            SALA 02
        </button>
        <button onclick="location.href='/sala/3'" class="left-button">
            SALA 03
        </button>
        <button onclick="location.href='/sala/4'" class="rigth-button">
            SALA 04
        </button>
        <button onclick="location.href='/sala/5'" class="left-button">
            SALA 05
        </button>
        <button onclick="location.href='/sala/6'" class="rigth-button">
            SALA 06
        </button>
        <button onclick="location.href='/sala/7'" class="left-button">
            SALA 07
        </button>
        <button onclick="location.href='/sala/8'" class="rigth-button">
            SALA 08
        </button>
        <button onclick="location.href='/sala/9'" class="left-button">
            SALA 09
        </button>
        <button onclick="location.href='/sala/10'" class="rigth-button">
            SALA 10
        </button>
        <button onclick="location.href='/sala/11'" class="left-button">
            SALA 11
        </button>
        <button onclick="location.href='/sala/12'" class="rigth-button">
            SALA 12
        </button>
        <button onclick="location.href='/sala/13'" class="left-button">
            SALA 13
        </button>
        <button onclick="location.href='/sala/14'" class="rigth-button">
            SALA 14
        </button>
        <button onclick="location.href='/sala/15'" class="left-button">
            SALA 15
        </button>
        <button onclick="location.href='/sala/16'" class="rigth-button">
            SALA 16
        </button>
        <button onclick="location.href='/sala/17'" class="left-button">
            SALA 17
        </button>

    </div>


</div>