<div class="container">

    <div class="dropdown">
        <dropdown-basic></dropdown-basic>
    </div>

    <div class="building">
        <button onclick="location.href='/empresarial53'">
            EMPRESARIAL 53
        </button>
    </div>

    <div class="rooms">
        <ng-container *ngFor="let room of rooms">
            <room-button [active]="room.active" (click)="goto(room.numeroSala)">
                {{room.nome}}
            </room-button>
        </ng-container>
    </div>


</div>