;:host{
    .container{
        display: flex;
        flex-direction: column;    
        margin-top: 30px;
        width: 320px;
        .building{
            align-self: center;
            button{
                color: white;
                background-color: #de253d;
                border-radius: 5px;
                width: 290px;
                height: 50px;
                font-weight: 600;
            }
        }
        .rooms{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            button{
                color: black;
                background-color: hsl(134, 74%, 27%);
                border-radius: 5px;
                width: 139.5px;
                margin: 10px 0 ;
                height: 40px;
                font-weight: 600;
            }
            .left-button{
                margin-right: 5px;
            }
            .rigth-button{
                margin-left: 5px;
            }
        }
    }
}