<div class="container">
    <div class="dropdown">
        <dropdown-basic></dropdown-basic>
    </div>
    <div class="short-info">
        <div class="locatario-nome">
            Fulano Sicrano de Beltrano
        </div>
        <div class="sala-info">
            Sala 00
        </div>
    </div>
    <div class="divisor">
        <hr/>
    </div>
    <div class="long-info">
        <div class="right-info">
            <p class="title">CONTRATO N°</p>
            <p class="answer">123456</p>
            <p class="title">INÍCIO DO CONTRATO</p>
            <p class="answer">dd/MM/yyyy</p>
            <p class="title">FIM DO CONTRATO</p>
            <p class="answer">dd/MM/yyyy</p>
            <p class="title">E-MAIL</p>
            <p class="answer">dd/MM/yyyy</p>
            <p class="title">TELEFONE</p>
            <p class="answer">(82) 3333-3333</p>
            <p class="title">WHATSAPP</p>
            <p class="answer">(82) 99999-9999</p>
        </div>
        <div class="left-info">
            <p class="title">ATIVIDADE</p>
            <p class="answer">CONTÁBIL/ADM</p>
            <div class="alertbox1">
                <p class="text">FIM DO CONTRATO:</p>
                <p class="date">dd/MM/yyyy</p>
                <p class="text">MESES</p>
            </div>
            <div class="alertbox2">
                <p class="text">MENSALIDADE VENCE <br> TODO DIA</p>
                <p class="date">00</p>
            </div>
        </div>
    </div>
    <div class="calendar-pay-status">
        <p class="title">STATUS DE PAGAMENTO - 20XX</p>
        <table>
            <tr>
                <td>JAN</td>
                <td>FEV</td>
                <td>MAR</td>
                <td>ABR</td>
                <td>MAI</td>
                <td>JUN</td>
            </tr>
            <tr>
                <td>JUL</td>
                <td>AGO</td>
                <td>SET</td>
                <td>OUT</td>
                <td>NOV</td>
                <td>DEZ</td>
            </tr>

        </table>
    </div>
    <div class="last-repairs">
        <p class="title">ÚLTIMOS REPAROS/MELHORIAS</p>
        <table>
            <tr>
                <th>Serviço</th>
                <th>Data</th>
                <th>Custo</th>
            </tr>
            <tr>
                <td class="first-row">Reparo do forro</td>
                <td>11/11/11</td>
                <td>R$ 100,00</td>
            </tr>
            <tr>
                <td class="first-row">Pintura porta</td>
                <td>20/02/20</td>
                <td>R$ 200,00</td>
            </tr>
        </table>
        <div class="link">
            <a href="#">Ver todos...</a>
        </div>
    </div>
    <div class="buttons">
        <button class="pay-info">Informar Pagamento</button>
        <button class="contact">Entrar em contato</button>
    </div>
    <div class="clean-room">
        <a href="#">Liberar sala</a>
    </div>
</div>