:host {
    .container{
        margin: 30px 0 0 0;
        padding: 0 0 0 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        .dropdown{
            margin-bottom: 20px;
            margin-top: 20px;
            display: flex;
            width: 320px;
            
        }
        .short-info{
            display: flex;
            flex-direction: column;
            padding-left: 40px;
            
            
            .locatario-nome{
                
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 25px;
                color: black;
                padding: 0;
                margin: 0 0 -8px 0;
                border: 0;
            }
            .sala-info{
                font-style: italic;
                font-size: 14px;
                color: whitesmoke;
            }
        }
        .divisor{
            width: 320px;
            align-self: center;
            hr{
               margin: 0;
            }
        }
        .calendar-pay-status{
            flex-direction: column;
            text-align: center;
            align-self: center;
            .title{
                font-size: 15px;
                font-weight: 500;
                margin: 10px 0 0 0;
            }
            table{
                width: 320px;
                border: solid black 1px;
                text-align: center;
                justify-content: center;
              
                tr{
                    border: solid black 1px;
                    height: 35px;
                    td{
                        border: solid black 1px;
                        font-weight: 500;
                        font-size: small;
                        width: 53.33px;
                    }
                }
            }
        }
        .last-repairs{
            flex-direction: column;
            text-align: center;
            align-self: center;
            .title{
                font-size: 15px;
                font-weight: 500;
                margin: 10px 0 0 0;
            }
            table{
                width: 320px;
                border: solid black 1px;
                text-align: center;
                justify-content: center;
                align-items: center;
                align-content: center;
                tr{
                    border: solid black 1px;
                    height: 30px;
                    th{
                        border: solid black 1px;
                    }
                    td{
                        border: solid black 1px;
                        font-size: 13px;
                    }
                    .first-row{
                        text-align: left;
                    }
                } 
            }
            .link{
                margin: 0;
                text-align: right;
                a{
                    font-size: 13px;
                }
            }        
        }
        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin: 10px 0 10px 0;
            align-self: center;
            .new-tenant{
                background-color: darkgreen;
                color: white;
                border: none;
                border-radius: 10px;
                height: 60px;
                width: 170px;
                font-weight: 600;
                margin: 2px;
            }
            .all-tenants{
                background-color: darkcyan;
                color: white;
                border: none;
                border-radius: 10px;
                margin: 2px;
                height: 60px;
                width: 170px;
                font-weight: 600;
            }
            .new-payment{
                background-color: darkgreen;
                color: white;
                border: none;
                border-radius: 10px;
                height: 60px;
                width: 170px;
                font-weight: 600;
                margin: 2px;
            }
            .new-repair{
                background-color: darkcyan;
                color: white;
                border: none;
                border-radius: 10px;
                margin: 2px;
                height: 60px;
                width: 170px;
                font-weight: 600;
            }
        }   
    }
}