:host {
    @media (min-width: 769px){
        .container{
            padding: 0 0 0 0;
            display: flex;
            flex-direction: column;
            height: 100vh;
 
            width: 800px;
            align-items: center;
            .dropdown{
                margin-bottom: 20px;
                margin-top: 20px;
                display: flex;
                width: 750px;
            }
            .short-info{
                display: flex;
                flex-direction: column;
                width: 750px;
                .locatario-nome{
                    
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: 40px;
                    color: black;
                    padding: 0;
                    margin: 0 0 -8px 0;
                    border: 0;
                }
                .sala-info{
                    font-style: italic;
                    font-size: 14px;
                    color: whitesmoke;
                }
            }
            .divisor{
                width: 750px;
                align-self: center;
                justify-content: center;
                hr{
                   margin: 0;
                }
            }
            .body{
                display: flex;
                flex-direction: row;
                .tables{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .calendar-pay-status{
                        flex-direction: column;
                        text-align: center;
                        align-self: center;
                        .title{
                            font-size: 18px;
                            font-weight: 500;
                            margin: 10px 0 0 0;
                        }
                        table{
                            width: 400px;
                            border: solid black 1px;
                            text-align: center;
                            justify-content: center;
                          
                            tr{
                                border: solid black 1px;
                                height: 50px;
                                td{
                                    border: solid black 1px;
                                    font-weight: 500;
                                    font-size: 16px;
                                    width: 53.33px;
                                }
                            }
                        }
                    }
                    .last-repairs{
                        flex-direction: column;
                        text-align: center;
                        align-self: center;
                        .title{
                            font-size: 15px;
                            font-weight: 500;
                            margin: 10px 0 0 0;
                        }
                        table{
                            width: 320px;
                            border: solid black 1px;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            align-content: center;
                            tr{
                                border: solid black 1px;
                                height: 30px;
                                th{
                                    border: solid black 1px;
                                }
                                td{
                                    border: solid black 1px;
                                    font-size: 13px;
                                }
                                .first-row{
                                    text-align: left;
                                }
                            } 
                        }
                        .link{
                            margin: 0;
                            text-align: right;
                            a{
                                font-size: 13px;
                            }
                        }        
                    }
                }
                .buttons{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin: 40px 0 10px 0;
                    align-self: flex-start;
                    width: 720px;
                    position:relative;
                    display:inline-block;
                    margin:20px;

                        a{
                            color:rgb(255, 255, 255);
                            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-weight:500;
                            font-size:20px;
                            text-align: center;
                            text-decoration:none;
                            background-color:#FFA12B;
                            display:block;
                            position:relative;
                            padding:10px 20px;
                            cursor: pointer;
                            
                            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                            text-shadow: 0px 1px 0px #000;
                            filter: dropshadow(color=#000, offx=0px, offy=1px);
                            
                            -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
                            -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
                            box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
                            
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            border-radius: 5px;
                        }
                        a:active{
                            top:10px;
                            background-color:#FFA12B;
                            
                            -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
                            -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
                            box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
                        }

                    .new-tenant {
                        margin: 15px;
                    }
                    
                   
                    .all-tenants{
                        margin: 15px;
                       
                    }
                    .new-payment{
                        margin: 15px;
                        
                    }
                    .all-payments{
                        margin: 15px;
                    }
                    .new-repair{
                        margin: 15px;
                        
                    }
                    .all-repairs{
                        margin: 15px;
                    }
                    .new-user{
                        margin: 15px;
                        
                    }
                       
                }
                .buttons:after{
                    content:"";
                    height:100%;
                    width:100%;
                    padding:4px;
                    position: absolute;
                    bottom:-15px;
                    left:-4px;
                    z-index:-1;
                    background-color:#2B1800;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                  }  
            }
        }
    }
    @media (max-width: 768px){
        display: flex;
        flex-direction: column;
        align-items: center;
        .container{
            padding: 0 0 0 0;
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 350px;
            .dropdown{
                margin-bottom: 20px;
                margin-top: 20px;
                display: flex;
                width: 320px;
            }
            .short-info{
                display: flex;
                flex-direction: column;
                .locatario-nome{
                    
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: 25px;
                    color: black;
                    padding: 0;
                    margin: 0 0 -8px 0;
                    border: 0;
                }
                .sala-info{
                    font-style: italic;
                    font-size: 14px;
                    color: whitesmoke;
                    width: 300px;
                }
            }
            .divisor{
                width: 320px;
                
                hr{
                   margin: 0;
                }
            }
            .body{
                width: 320px;
                .tables{
                    display: flex;
                    flex-direction: column;
                    .calendar-pay-status{
                        flex-direction: column;
                        text-align: center;
                        align-self: center;
                        .title{
                            font-size: 15px;
                            font-weight: 500;
                            margin: 10px 0 0 0;
                        }
                        table{
                            width: 320px;
                            border: solid black 1px;
                            text-align: center;
                            align-self: center;
                            align-items: center;
                            justify-content: center;
                          
                            tr{
                                border: solid black 1px;
                                height: 35px;
                                td{
                                    border: solid black 1px;
                                    font-weight: 500;
                                    font-size: small;
                                    width: 53.33px;
                                }
                            }
                        }
                    }
                    .last-repairs{
                        flex-direction: column;
                        text-align: center;
                        align-self: center;
                        .title{
                            font-size: 15px;
                            font-weight: 500;
                            margin: 10px 0 0 0;
                        }
                        table{
                            width: 320px;
                            border: solid black 1px;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            align-content: center;
                            tr{
                                border: solid black 1px;
                                height: 30px;
                                th{
                                    border: solid black 1px;
                                }
                                td{
                                    border: solid black 1px;
                                    font-size: 13px;
                                }
                                .first-row{
                                    text-align: left;
                                }
                            } 
                        }
                        .link{
                            margin: 0;
                            text-align: right;
                            a{
                                font-size: 13px;
                                cursor: pointer;
                            }
                        }        
                    }
                }
                .buttons{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin: 40px 0 10px 0;
                    align-self: flex-start;
                    width: 320px;
                    position:relative;
                    display:inline-block;
                    margin:20px 0 0 0;

                        a{
                            color:rgb(255, 255, 255);
                            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-weight:500;
                            font-size:15px;
                            text-align: center;
                            text-decoration:none;
                            background-color:#FFA12B;
                            display:block;
                            position:relative;
                            padding:10px 20px;
                            cursor: pointer;
                            
                            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                            text-shadow: 0px 1px 0px #000;
                            filter: dropshadow(color=#000, offx=0px, offy=1px);
                            
                            -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
                            -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
                            box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
                            
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            border-radius: 5px;
                        }
                        a:active{
                            top:10px;
                            background-color:#FFA12B;
                            
                            -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
                            -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
                            box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
                        }

                    .new-tenant {
                        margin: 15px;
                    }
                    
                   
                    .all-tenants{
                        margin: 15px;
                       
                    }
                    .new-payment{
                        margin: 15px;
                        
                    }
                    .all-payments{
                        margin: 15px;
                    }
                    .new-repair{
                        margin: 15px;
                        
                    }
                    .all-repairs{
                        margin: 15px;
                    }
                    .new-user{
                        margin: 15px;
                        
                    }
                       
                }
                .buttons:after{
                    content:"";
                    height:100%;
                    width:100%;
                    padding:4px;
                    position: absolute;
                    bottom:-15px;
                    left:-4px;
                    z-index:-1;
                    background-color:#2B1800;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                } 
            }
        }
    }
}