<div class="container">
    <div class="dropdown">
        <dropdown-basic></dropdown-basic>
    </div>
    <div class="short-info">
        <div class="locatario-nome">
            Empresarial 53
        </div>
        <div class="sala-info">
            Prédio principal
        </div>
    </div>
    <div class="divisor">
        <hr/>
    </div>
    <div class="calendar-pay-status">
        <p class="title">STATUS DE PAGAMENTO ÁGUA - 20XX</p>
        <table>
            <tr>
                <td>JAN</td>
                <td>FEV</td>
                <td>MAR</td>
                <td>ABR</td>
                <td>MAI</td>
                <td>JUN</td>
            </tr>
            <tr>
                <td>JUL</td>
                <td>AGO</td>
                <td>SET</td>
                <td>OUT</td>
                <td>NOV</td>
                <td>DEZ</td>
            </tr>

        </table>
    </div>
    <div class="calendar-pay-status">
        <p class="title">STATUS DE PAGAMENTO LUZ - 20XX</p>
        <table>
            <tr>
                <td>JAN</td>
                <td>FEV</td>
                <td>MAR</td>
                <td>ABR</td>
                <td>MAI</td>
                <td>JUN</td>
            </tr>
            <tr>
                <td>JUL</td>
                <td>AGO</td>
                <td>SET</td>
                <td>OUT</td>
                <td>NOV</td>
                <td>DEZ</td>
            </tr>

        </table>
    </div>
    <div class="calendar-pay-status">
        <p class="title">STATUS DE PAGAMENTO IPTU - 20XX</p>
        <table>
            <tr>
                <td>2013</td>
                <td>2014</td>
                <td>2015</td>
                <td>2016</td>
                <td>2017</td>
                <td>2018</td>
            </tr>
            <tr>
                <td>2019</td>
                <td>2020</td>
                <td>2021</td>
                <td>2022</td>
                <td>2023</td>
                <td>2024</td>
            </tr>

        </table>
    </div>
    <div class="calendar-pay-status">
        <p class="title">STATUS DE PAGAMENTO IPTU - SALAS</p>
        <table>
            <tr>
                <td>01</td>
                <td>02</td>
                <td>03</td>
                <td>04</td>
                <td>05</td>
                <td>06</td>
            </tr>
            <tr>
                <td>07</td>
                <td>08</td>
                <td>09</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
            </tr>
            <tr>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
            </tr>

        </table>
    </div>
    <div class="last-repairs">
        <p class="title">ÚLTIMOS REPAROS/MELHORIAS</p>
        <table>
            <tr>
                <th>Serviço</th>
                <th>Data</th>
                <th>Custo</th>
            </tr>
            <tr>
                <td class="first-row">Reparo do forro</td>
                <td>11/11/11</td>
                <td>R$ 100,00</td>
            </tr>
            <tr>
                <td class="first-row">Pintura porta</td>
                <td>20/02/20</td>
                <td>R$ 200,00</td>
            </tr>
        </table>
        <div class="link">
            <a href="#">Ver todos...</a>
        </div>
    </div>
    <div class="buttons">
        <button onclick="location.href='/locatario'" class="new-tenant">Criar Locatário</button>
        <button onclick="location.href='/lista-locatarios'" class="all-tenants">Ver todos locatários</button>
        <button onclick="location.href='/pagamento'" class="new-payment">Informar Pagamento</button>
        <button onclick="location.href='/lista-pagamentos'" class="all-payments">Ver todos os Pagamentos</button>
        <button onclick="location.href='/manutencao'" class="new-repair">Informar Manutenção</button>
        <button onclick="location.href='/lista-manutencoes'" class="all-repairs">Ver todas as Manutenções</button>
    </div>
</div>