<div class="container">
    <div class="body">
        <div class="box1">
            <div class="main-title">
                <h4>Espaço Ideal</h4>
                <h5>Para o seu negócio</h5>
            </div>
            <div class="extra-title">
                <p>Empresarial 53 é um espaço profissional para seus negócios.</p>
            </div>
            <div class="carousel">
                <ngbd-carousel-basic></ngbd-carousel-basic>
            </div>
        </div>
        <div class="box2">
            <div class="extra-title2">
                <ul>
                    <li>Ótima localização</li>
                    <li>Estacionamento</li>
                    <li>Porteiro eletrônico</li>
                    <li>Monitoramento por câmera</li>
                </ul>
                <p>O ambiente qualificado para receber o seu negócio.</p>
            </div>
            <div class="local">
                <h4>Nossa ótima localização</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3933.760009842881!2d-35.715601224973895!3d-9.615920990470803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x701466e02298213%3A0x72a0362e80a93185!2sEmpresarial%2053!5e0!3m2!1spt-BR!2sbr!4v1694710390954!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="box3">
            <div class="contacts">
                <div class="adress">
                    <p>Rua Professor Julião Marques, Nº 53<br>Barro Duro<br>Maceió/AL</p>
                </div>
                <div class="contact-info">
                    <i class="fa-solid fa-phone"> 82 99694 4906</i>
                    <i class="fa-brands fa-whatsapp"> 82 99694 4906</i>
                    <i class="fa-solid fa-envelope"> empresarial53@gmail.com</i>
                </div>
            </div>
        </div>
        
        <div class="login">
            <a href="/login">Administrador?</a>
        </div>
    </div>
</div>